{% extends 'base.html' %} {% block content %}
<div>
  <h2>Welcome to our adoption page</h2>
  <div>
    {% with messages = get_flashed_messages() %} {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %} {% endwith %}
  </div>
  <div class="pet-gallery">
    {% for pet in pets %}
    <div class="pet-item">
      <img src="{{ pet.photo_url }}" />
      <a href="/pets/{{ pet.id }}">{{ pet.name }}</a>{% if pet.available %}
      <b> is available!</b> {% endif %}
    </div>

    {% endfor %} {% endblock%}
  </div>
</div>
